[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
black = "*"

[packages]
docker = "*"
fabric = "*"
pytest = "*"
pytest-axe = "*"
pytest-check = "*"
pytest-json-report = "*"
pytest-repeat = "*"
pytest-rerunfailures = "*"
pytest-selenium = "*"
pytest-test-groups = "*"
pytest-xdist = "*"
python-dateutil = "*"
requests = "*"
selenium = "<4.10"
selene = {git = "https://github.com/yashaka/selene.git",ref = "1.0.0a13"}
fuzzbucket-client = "*"
browsermob-proxy = "==0.8.0"
pytest-timeout = "*"
systemstat = "*"
pytest-html-report-merger = "*"
showfails = "*"
pytest-reportportal = "*"
rsa = "*"
posix-ipc = "*"
selenium-axe-python = "*"
py = "*"
databricks-sdk = "*"
manageritm-client = ">=0.1.0"

[pipenv]
allow_prereleases = true
