[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
black = "*"

[packages]
docker = "*"
fabric = "*"
pytest = "*"
pytest-axe = "*"
pytest-check = "*"
pytest-json-report = "*"
pytest-repeat = "*"
pytest-rerunfailures = "*"
pytest-selenium = "*"
pytest-test-groups = "*"
pytest-xdist = "*"
python-dateutil = "*"
requests = "*"
selenium = "*"
selene = "*"
fuzzbucket-client = "*"
browsermob-proxy = "==0.8.0"
pytest-timeout = "*"
systemstat = "*"
pytest-html-report-merger = "*"
showfails = "*"
pytest-reportportal = "*"

[pipenv]
allow_prereleases = true
